<template>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Iniciar Sesión</h3>
        <Login />
      </div>
      <div class="col-6">
        <h3>O Registrarse</h3>
        <Register />
      </div>
    </div>
  </div>
</template>
<script>
import Login from "./auth/login";
import Register from "./auth/register";

export default {
  name: "home",
  components: {
    Register,
    Login,
  },
};
</script>
