<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-2" label="Usuario:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model.trim="$v.form.username.$model"
          placeholder="Nombre de usuario..."
          :state="$v.form.username.required"
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="$v.form.username.required">
          Ingrese su nombre de usuario
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group id="input-group-3" label="Contraseña:" label-for="input-3">
        <b-form-input
          id="input-3"
          type="password"
          v-model="$v.form.password.$model"
          placeholder="Contraseña..."
          :state="$v.form.password.required"
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="$v.form.password.required">
          Ingrese su contraseña
        </b-form-invalid-feedback>
      </b-form-group>

      <b-button type="submit" variant="primary">Iniciar</b-button>
    </b-form>
  </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import AuthService from "../../services/authService";
import { setDataDecrypt } from "../../helpers/encrypt";
import { sendNotificationError } from "../../helpers/notify";

function data() {
  return {
    form: {
      username: "",
      password: ""
    }
  };
}

function onSubmit() {
  this.isLoading = true;
  this.$v.$touch();
  if (this.$v.$error) {
    sendNotificationError();
    throw "Existen errores, por favor, verifique.";
  }

  AuthService.signin(this.form)
    .then(response => {
      this.$appAuth = false;
      localStorage.clear();
      setDataDecrypt("session", response.data.session);

      AuthService.profile().then(response => {
        const { data } = response;
        setDataDecrypt("profile", data);
        this.$appAuth = true;
      });

      this.$router.push({
        name: "tasks.index"
      });
    })
    .catch(() => {
      this.$appAuth = false;
      localStorage.clear();
      sendNotificationError();
    });
}

export default {
  name: "login",
  data,
  methods: {
    onSubmit
  },
  validations: {
    form: {
      username: { required },
      password: { required }
    }
  }
};
</script>
