<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-4" label="Nombre:" label-for="input-2">
        <b-form-input
          id="input-4"
          v-model.trim="$v.form.name.$model"
          placeholder="Nombre..."
          required
          :state="!$v.form.name.$invalid"
        ></b-form-input>
        <b-form-invalid-feedback :state="!$v.form.name.$invalid">
          Ingrese su nombre (minimo 4 carácteres)
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        id="input-group-4"
        label="Nombre de usuario:"
        label-for="input-2"
      >
        <b-form-input
          id="input-6"
          v-model="$v.form.username.$model"
          placeholder="Nombre de usuario..."
          required
          :state="!$v.form.username.$invalid"
        ></b-form-input>
        <b-form-invalid-feedback :state="!$v.form.username.$invalid">
          Ingrese su nombre de usuario (minimo 4 carácteres)
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group id="input-group-5" label="Contraseña:" label-for="input-3">
        <b-form-input
          id="input-5"
          type="password"
          v-model="$v.form.password.$model"
          placeholder="Contraseña..."
          required
          :state="!$v.form.password.$invalid"
        ></b-form-input>
        <b-form-invalid-feedback :state="!$v.form.password.$invalid">
          Ingrese su contraseña
        </b-form-invalid-feedback>
      </b-form-group>

      <b-button type="submit" variant="primary">Registrarse</b-button>
    </b-form>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import AuthService from "../../services/authService";
import { setDataDecrypt } from "../../helpers/encrypt";
import { sendNotificationError } from "../../helpers/notify";

function data() {
  return {
    form: {
      name: "",
      username: "",
      password: ""
    }
  };
}

function onSubmit() {
  this.$v.$touch();
  if (this.$v.$error) {
    sendNotificationError();
    throw "Existen errores, por favor, verifique.";
  }

  AuthService.signup(this.form)
    .then(response => {
      this.$appAuth = false;
      localStorage.clear();

      setDataDecrypt("session", response.data.session);

      AuthService.profile().then(response => {
        const { data } = response;
        setDataDecrypt("profile", data);
        this.$appAuth = true;
      });

      this.$router.push({
        name: "tasks.index"
      });
    })
    .catch(() => {
      this.$appAuth = false;
      localStorage.clear();
      sendNotificationError();
    });
}

export default {
  name: "register",
  data,
  methods: {
    onSubmit
  },
  validations: {
    form: {
      name: { required, minLength: minLength(4) },
      username: { required, minLength: minLength(4) },
      password: { required }
    }
  }
};
</script>
