<template>
  <div>
    <b-modal id="modal-create-task" title="Crear nueva tarea" hide-footer>
      <b-form @submit.prevent="onSubmit" @reset="onReset">
        <b-form-group
          id="input-group-7"
          label="Nombre de la tarea:"
          label-for="input-7"
        >
          <b-form-input
            id="input-7"
            v-model.trim="$v.name.$model"
            placeholder="Tarea 1..."
            :state="!$v.name.$invalid"
            required
          ></b-form-input>
          <b-form-invalid-feedback :state="!$v.name.$invalid">
            Ingrese un nombre para la tarea
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="input-group-8"
          label="Descripción de la tarea:"
          label-for="input-8"
        >
          <b-form-textarea
            id="input-7"
            v-model.trim="$v.description.$model"
            placeholder="Se necesita..."
            :state="!$v.description.$invalid"
            required
          ></b-form-textarea>
          <b-form-invalid-feedback :state="!$v.description.$invalid">
            Ingrese una descripción para esta tarea
          </b-form-invalid-feedback>
        </b-form-group>
        <div class="w-100">
          <b-button
            variant="secondary"
            size="lg"
            class="float-right"
            type="submit"
          >
            Enviar
          </b-button>
        </div>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import TaskService from "../../../services/taskService";
import {
  sendNotificationError,
  sendNotificationSuccess
} from "../../../helpers/notify";

function data() {
  return {
    name: "",
    description: ""
  };
}

function onReset() {
  this.name = "";
  this.description = "";
}

function onSubmit() {
  this.$v.$touch();
  if (this.$v.$error) {
    sendNotificationError();
    throw "Existen errores, por favor, verifique.";
  }

  TaskService.create({
    name: this.name,
    description: this.description
  }).then(response => {
    this.$emit("added-new-item", response.data.body);
    sendNotificationSuccess(
      "Solicitud Exitosa",
      "Registro generado correctamente"
    );
    this.onReset();
    this.$bvModal.hide("modal-create-task");
  });
}

export default {
  name: "modal-create-task",
  data,
  methods: {
    onSubmit,
    onReset
  },
  validations: {
    name: { required, minLength: minLength(4) },
    description: { required, minLength: minLength(10) }
  }
};
</script>
