<template>
  <div>
    <b-modal id="modal-edit-task" :title="computedTitle" hide-footer>
      <b-form @submit.prevent="onSubmit" @reset="onReset">
        <b-form-group id="input-group-7" label="Nombre de la tarea:">
          <b-form-input
            v-model.trim="$v.name.$model"
            placeholder="Tarea 1..."
            :state="!$v.name.$invalid"
            required
          ></b-form-input>
          <b-form-invalid-feedback :state="!$v.name.$invalid">
            Ingrese un nombre para la tarea
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="input-group-8" label="Descripción de la tarea:">
          <b-form-textarea
            v-model.trim="$v.description.$model"
            placeholder="Se necesita..."
            :state="!$v.description.$invalid"
            required
          ></b-form-textarea>
          <b-form-invalid-feedback :state="!$v.description.$invalid">
            Ingrese una descripción para esta tarea
          </b-form-invalid-feedback>
        </b-form-group>
        <div class="w-100">
          <b-button
            variant="secondary"
            size="lg"
            class="float-right"
            type="submit"
          >
            Enviar
          </b-button>
        </div>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import TaskService from "../../../services/taskService";
import {
  sendNotificationError,
  sendNotificationSuccess
} from "../../../helpers/notify";

function data() {
  return {
    name: "",
    description: "",
    taskId: ""
  };
}

function onReset() {
  this.name = "";
  this.description = "";
}

function computedTitle() {
  return "Editar la tarea " + this.name;
}

function onSubmit() {
  this.$v.$touch();
  if (this.$v.$error) {
    sendNotificationError();
    throw "Existen errores, por favor, verifique.";
  }

  TaskService.update({
    taskId: this.taskId,
    name: this.name,
    description: this.description
  }).then(response => {
    this.$emit("edit-item", response.data.body);
    sendNotificationSuccess(
      "Solicitud Exitosa",
      "Registro generado correctamente"
    );
    this.onReset();
    this.$bvModal.hide("modal-edit-task");
  });
}

export default {
  name: "modal-edit-task",
  props: { itemEdited: Object },
  data,
  methods: {
    onSubmit,
    onReset
  },
  computed: {
    computedTitle
  },
  validations: {
    name: { required, minLength: minLength(4) },
    description: { required, minLength: minLength(10) }
  },
  watch: {
    itemEdited: function(val) {
      this.name = val.name;
      this.description = val.description;
      this.taskId = val.id;
    }
  }
};
</script>
