<template>
  <div class="container">
    <b-card title="Perfil" sub-title="Datos del usuario autentificado">
      <b-card-text> Nombre: {{ profile.name }} </b-card-text>

      <b-card-text>Nombre de usuario: {{ profile.username }}</b-card-text>
    </b-card>
  </div>
</template>
<script>
import { getDataDecrypt } from "../../helpers/encrypt";

function data() {
  return {
    profile: {}
  };
}

function mountedProfile() {
  this.profile = getDataDecrypt("profile");
}

export default {
  name: "profile",
  data,
  mounted: mountedProfile
};
</script>
