<template>
  <div id="app">
    <notifications group="main" />
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav align="right">
        <li class="nav-item">
          <router-link to="/" class="nav-link">Inicio</router-link>
        </li>
        <!-- Navbar dropdowns -->
        <b-nav-item-dropdown :text="name" v-if="$appAuth">
          <li role="presentation">
            <router-link to="/tasks" class="dropdown-item" role="menuitem"
              >Tareas</router-link
            >
          </li>
          <li role="presentation">
            <router-link to="/profile" class="dropdown-item" role="menuitem"
              >Perfil</router-link
            >
          </li>
          <b-dropdown-item href="" @click="onLogout"
            >Cerrar Sesión</b-dropdown-item
          >
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <div class="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { getDataDecrypt } from "./helpers/encrypt";
function onLogout() {
  this.$appAuth = false;
  localStorage.clear();
  this.$router.push({
    name: "home",
  });
}

function data() {
  return {
    name: "",
  };
}

function computedName() {
  const profile = getDataDecrypt("profile");
  if (profile) {
    this.name = profile.name;
  } else {
    this.name = "Usuario";
  }
}

export default {
  name: "App",
  data,
  methods: {
    onLogout,
    computedName,
  },
  watch: {
    $appAuth: function () {
      this.computedName();
    },
  },
};
</script>

<style>
.main {
  margin-top: 3%;
}
</style>
