<template>
  <main class="container">
    <div class="row mb-3 ">
      <div class="col-4">
        <h3>Lista de Tareas</h3>
      </div>
      <div class="col-8 btn-create">
        <b-button
          variant="outline-secondary"
          squared
          size="lg"
          v-b-modal.modal-create-task
        >
          Crear nueva tarea
        </b-button>
      </div>
    </div>
    <vue-good-table
      :columns="fields"
      :rows="computedListTasks"
      :pagination-options="{
        enabled: true,
        mode: 'pages',
        perPage: 5,
        position: 'bottom',
        perPageDropdown: [3, 5, 10],
        nextLabel: 'siguiente',
        prevLabel: 'anterior',
        rowsPerPageLabel: 'Tareas por pagina',
        ofLabel: 'de',
        pageLabel: 'pagina', // for 'pages' mode
        allLabel: 'Todo',
      }"
      :sort-options="{
        enabled: true,
        initialSortBy: { field: 'createdAt', type: 'desc' },
      }"
    >
      <template slot="table-row" slot-scope="props">
        <div v-if="props.column.field == 'index'" class="text-center">
          {{ props.row.index }}
        </div>

        <div v-if="props.column.field == 'name'" class="text-center">
          {{ props.row.name }}
        </div>

        <div v-if="props.column.field == 'description'" class="text-center">
          {{ props.row.description }}
        </div>

        <div v-if="props.column.field == 'createdAt'" class="text-center">
          {{ computedCreatedAt(props.row) }}
        </div>

        <div v-if="props.column.field == 'status'">
          <div class="text-center">
            <b-badge variant="success" v-if="props.row.status == 1">
              COMPLETA
            </b-badge>
            <b-badge variant="danger" v-else>INCOMPLETA</b-badge>
          </div>
        </div>

        <div v-if="props.column.field == 'options'" class="text-center">
          <b-button
            variant="outline-primary"
            @click="editTask(props.row)"
            v-b-modal.modal-edit-task
            squared
            size="sm"
            v-b-tooltip.hover
            title="Editar tarea"
          >
            <b-icon-list-task />
          </b-button>
          <b-button
            variant="outline-success"
            @click="changeStatus(props.row)"
            squared
            size="sm"
            v-b-tooltip.hover
            title="Marcar como completa o incompleta a la tarea"
          >
            <b-icon-nut-fill />
          </b-button>
          <b-button
            variant="outline-danger"
            @click="destroyTask(props.row)"
            squared
            size="sm"
            v-b-tooltip.hover
            title="Eliminar tarea"
          >
            <b-icon-trash-fill />
          </b-button>
        </div>
      </template>
    </vue-good-table>
    <modal-create-task @added-new-item="addedNewItem" />
    <modal-edit-task :itemEdited="itemEdited" @edit-item="editItem" />
  </main>
</template>
<script>
import moment from "moment";
// import the styles
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";
import { BIconTrashFill, BIconListTask, BIconNutFill } from "bootstrap-vue";
import ModalCreateTask from "./modal/create-task";
import ModalEditTask from "./modal/edit-task";
import TaskService from "../../services/taskService";
import {
  sendNotificationError,
  sendNotificationSuccess,
  sendNotification,
} from "../../helpers/notify";

function data() {
  return {
    fields: [
      { field: "index", label: "#" },
      { field: "name", label: "Nombre" },
      {
        label: "Descripción",
        field: "description",
        filterOptions: {
          enabled: true, // enable filter for this column
          placeholder: "Buscar...", // placeholder for filter input
        },
      },
      {
        field: "status",
        label: "Estado",
        formatter(value) {
          return value == 1 ? "Activo" : "Inactivo";
        },
      },
      { field: "createdAt", label: "Creado" },
      { field: "options", label: "Opciones" },
    ],
    rows: [],
    itemEdited: {},
  };
}

function editTask(row) {
  this.itemEdited = row;
}

function addedNewItem(item) {
  this.rows.push(item);
}

function editItem(item) {
  let newList = this.rows.map((list) => {
    if (list.id === item.id) {
      return item;
    }
    return list;
  });
  this.rows = newList;
}

function destroyTask(row) {
  TaskService.destroy(row.id)
    .then(() => {
      let newList = this.rows.filter((item) => item.id != row.id);
      this.rows = newList;
      sendNotificationSuccess(
        "Solicitud Exitosa",
        "La tarea ha sido eliminada exitosamente"
      );
    })
    .catch(() => {
      sendNotificationError();
      this.$router.push({ name: "home" });
    });
}

function changeStatus(row) {
  TaskService.update({
    status: !row.status,
    taskId: row.id,
  })
    .then((response) => {
      const dataNew = response.data.body;
      let newList = this.rows.map((item) => {
        if (item.id === dataNew.id) {
          return dataNew;
        }
        return item;
      });
      this.rows = newList;
      sendNotificationSuccess(
        "Solicitud Exitosa",
        "El estado de la tarea ha sido modificado correctamente"
      );
    })
    .catch(() => {
      sendNotificationError();
      this.$router.push({ name: "home" });
    });
}

function computedCreatedAt(row) {
  return moment(row.createAt).format("DD-MM-YYYY");
}

function computedListTasks() {
  const indexItems = this.rows.map((item, index) => {
    return {
      ...item,
      index: index,
    };
  });

  const sorterItems = indexItems.sort(function(a, b) {
    return b.index - a.index;
  });

  return sorterItems.map((item, index) => {
    return {
      ...item,
      index: index + 1,
    };
  });
}

function mountedTasks() {
  TaskService.index()
    .then((response) => {
      this.rows = response.data;
    })
    .catch(() => {
      sendNotification(
        "Usuario no autentificado",
        "Recuerde que tiene que autentificarse primero",
        "warn"
      );
      this.$router.push({ name: "home" });
    });
}

export default {
  name: "tasks",
  data,
  components: {
    VueGoodTable,
    BIconTrashFill,
    BIconListTask,
    BIconNutFill,
    ModalCreateTask,
    ModalEditTask,
  },
  methods: {
    editTask,
    addedNewItem,
    computedCreatedAt,
    changeStatus,
    destroyTask,
    editItem,
  },
  computed: {
    computedListTasks,
  },
  mounted: mountedTasks,
};
</script>
<style>
.btn-create {
  text-align: end;
}
</style>
